NNM/*


battleplans/*
#common/*
#decisions/*
download/*
#events/*
gfx/*
#history/*
interface/*
#inventions/*
launcher/*
#localisation/*
logs/*
map/*
mod/*
movies/*
music/*
news/*
#poptypes/*
save games/*
saved battle plans/*
Screenshots/*
script/*
sound/*
#technologies/*
tutorial/*
#units/*

42960_install.vdf
console_history.txt
ggcoins.dll
launcher.html
load_bg.jpg
lua5.1.dll
lua51.dll
PdxConnect.dll
Readme.txt
settings.txt
steam_api.dll
STEAM_time
tbb.dll
tbb_debug.dll
tbbmalloc.dll
tbbmalloc_proxy.dll
userdir.txt
v2game.exe
victoria2.exe
Victoria2.ico
zlib1.dll
可选内容（全屏补丁及字体补丁）.rar
可选内容（全屏窗口补丁及字体包）.zip
维多利亚2：3.03之52简体中文汉化包第五版说明.txt
维多利亚2：3.03之52简体中文汉化包第六版说明.txt